<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <h1>Local</h1>
        </div>
        <div class="col-auto row ml-auto">
          <%= button_to 'Editar', edit_local_path(@local), method: :get, class: 'btn btn-primary col-auto mr-2', disabled: !cadastra? %>
          <%= button_to 'Voltar', locais_path, method: :get, class: 'btn btn-primary mr-3 col-auto' %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-auto">
          <%= label_tag :nome %>
          <%= text_field_tag :nome, @local.nome, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-auto">
          <%= label_tag :telefone %>
          <%= text_field_tag :telefone, @local.telefone, class: 'form-control', readonly: true %>
        </div>
      </div>

      <h3>Endereço</h3>

      <div class="form-row">
        <div class="form-group col-lg-2 col-md-2">
          <%= label_tag :cep %>
          <%= text_field_tag :cep, @local.endereco.cep, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-5 col-md-8">
          <%= label_tag :rua %>
          <%= text_field_tag :rua, @local.endereco.rua, class: 'form-control', readonly: true %>
        </div>

        <div class="form-group col-lg-1 col-md-2 col-3">
          <%= label_tag :numero %>
          <%= text_field_tag :numero, @local.endereco.numero, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-5 col-md-8">
          <%= label_tag :complemento %>
          <%= text_field_tag :complemento, @local.endereco.complemento, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-3 col-md-5">
          <%= label_tag :bairro %>
          <%= text_field_tag :bairro, @local.endereco.bairro, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-lg-3 col-md-5">
          <%= label_tag :cidade %>
          <%= text_field_tag :cidade, @local.endereco.cidade, class: 'form-control', readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>
