<p id="notice"><%= notice %></p>

<h1>Departamentos</h1>

<table>
  <thead>
    <tr>
      <th>Local</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.local.nome %></td>
        <td><%= departamento.nome %></td>
        <td>
          <%= link_to 'Show', departamento %>
          <%= link_to 'Edit', edit_departamento_path(departamento) %>
          <%= link_to 'Destroy', departamento, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Departamento', new_departamento_path %>

<div class="pagination justify-content-center">
  <%= paginate @departamentos, theme: 'twitter-bootstrap-4' %>
</div>
