<div class="container main-container">
  <div class="row">
    <div class="col-auto">
      <h1>Contatos</h1>
    </div>
    <% if cadastra? %>
      <div class="col-auto ml-auto">
        <%= link_to 'Novo Contato', new_contato_path, class: 'btn btn-primary mt-1' %>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>Cargo</th>
        <th>Departamento</th>
        <th style="text-align: center">Ativo</th>
        <th style="text-align: center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @contatos.each do |contato| %>
        <tr>
          <td><%= contato.nome %></td>
          <td><%= formata_telefone contato.telefone %></td>
          <td><%= formata_celular contato.celular %></td>
          <td><%= contato.cargo %></td>
          <td><%= contato.departamento.nome %></td>
          <td style="text-align: center"><%= t contato.ativo %></td>
          <td style="text-align: center">
            <%= link_to fa_icon('list'), contato, class: 'btn btn-primary btn-sm' %>
            <% if cadastra? %>
              <%= link_to fa_icon('pencil'), edit_contato_path(contato), class: 'btn btn-primary btn-sm' %>
              <%= link_to fa_icon('trash'), contato, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>

<div class="pagination justify-content-center">
  <%= paginate @contatos, theme: 'twitter-bootstrap-4' %>
</div>
