<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <h1>Contato</h1>
        </div>
        <div class="col-auto row ml-auto">
          <%= button_to 'Editar', edit_contato_path(@contato), method: :get, class: 'btn btn-primary col-auto mr-2', disabled: !cadastra? %>
          <%= button_to 'Voltar', contatos_path, method: :get, class: 'btn btn-primary mr-3 col-auto' %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row align-items-center">
        <div class="form-group col-auto">
          <%= label_tag :nome %>
          <%= text_field_tag :nome, @contato.nome, class: 'form-control', readonly: true %>
        </div>

        <div class="form-check col-auto">
          <div class="custom-control custom-checkbox">
            <%= check_box_tag :ativo, nil, @contato.ativo, class: 'custom-control-input', disabled: true %>
            <%= label_tag :ativo, 'Ativo', class: 'custom-control-label' %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-auto">
          <%= label_tag :telefone %>
          <%= text_field_tag :telefone, @contato.telefone, class: 'form-control', readonly: true %>
        </div>

        <div class="form-group col-auto">
          <%= label_tag :celular %>
          <%= text_field_tag :celular, @contato.celular, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-auto">
          <%= label_tag :departamento %>
          <%= text_field_tag :nome, @contato.departamento.nome, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-auto">
          <%= label_tag :cargo %>
          <%= text_field_tag :cargo, @contato.cargo, class: 'form-control', readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>
