<div class="container">
  <%= search_form_for @q, class: 'form-inline mt-3 mb-3' do |f| %>
    <div class="form-group mr-3">
      <%= f.label :nome %>
      <%= f.search_field :nome_cont, class: 'form-control ml-3' %>
    </div>

    <div class="form-group mr-3">
      <%= f.label :telefone %>
      <%= f.search_field :telefone_cont, class: 'form-control ml-3' %>
    </div>

    <div class="form-group mr-3">
      <%= f.label 'Local'%>
      <%= f.search_field :local_nome_cont, class: 'form-control ml-3' %>
    </div>

    <div id="submit">
      <%= f.submit 'Buscar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :nome, 'Nome', default_order: :asc) %></th>
        <th><%= sort_link(@q, :telefone, 'Telefone', default_order: :asc) %></th>
        <th><%= sort_link(@q, :local, 'Local', default_order: :asc) %></th>
      </tr>
    </thead>
    <tbody>
      <% @departamentos.each do |departamento| %>
        <tr>
          <td><%= departamento.nome %></td>
          <td><%= formata_telefone departamento.nome %></td>
          <td><%= departamento.local.nome %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination justify-content-center">
  <%= paginate @departamentos, theme: 'twitter-bootstrap-4' %>
</div>
