<%= form_with(model: [:cadastro, contato], local: true) do |form| %>
  <% if contato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

      <ul>
      <% contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row align-items-center">
    <div class="form-group col-auto">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: 'form-control' %>
    </div>

    <div class="form-check col-auto">
      <div class="custom-control custom-checkbox">
        <%= form.check_box :ativo, class: 'custom-control-input' %>
        <%= form.label :ativo, class: 'custom-control-label' %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-auto">
      <%= form.label :telefone %>
      <%= form.text_field :telefone, class: 'form-control' %>
    </div>

    <div class="form-group col-auto">
      <%= form.label :celular %>
      <%= form.text_field :celular, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-auto">
      <%= form.label :departamento %>
      <%= form.select :departamento_id, departamentos.collect { |d| [ d.nome, d.id ] }, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-auto">
      <%= form.label :cargo %>
      <%= form.text_field :cargo, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: 'btn btn-success' %>
    <%= link_to 'Voltar', :back, class: 'btn btn-primary' %>
  </div>
<% end %>
