<div class="container main-container">
  <div class="row">
    <div class="col-auto">
      <h1>Cadastro de Contatos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mr-auto">
      <%= search_form_for @q, class: 'form-inline mb-3', id: 'form-busca-contato' do |f| %>
        <div class="form-group">
          <%= f.label :nome %>
          <%= f.search_field :nome_cont, class: 'form-control ml-3' %>
        </div>

        <div class="form-group ml-3">
          <%= f.label :numero %>
          <%= f.search_field :telefone_or_celular_cont, class: 'form-control ml-3', id: 'campo-numero-telefone-celular' %>
        </div>

        <div class="form-group ml-3 mr-3">
          <%= f.label 'Departamento'%>
          <%= f.search_field :departamento_nome_cont, class: 'form-control ml-3' %>
        </div>

        <div id="submit">
          <%= f.submit 'Buscar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mr-auto mb-3">
      <%= link_to 'Novo Contato', new_cadastro_contato_path, class: 'btn btn-primary mt-1' %>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :nome, 'Nome', default_order: :asc) %></th>
        <th><%= sort_link(@q, :telefone, 'Telefone', default_order: :asc) %></th>
        <th><%= sort_link(@q, :celular, 'Celular', default_order: :asc) %></th>
        <th><%= sort_link(@q, :cargo, 'Cargo', default_order: :asc) %></th>
        <th><%= sort_link(@q, :departamento_nome, 'Departamento', default_order: :asc) %></th>
        <th><%= sort_link(@q, :departamento_local_nome, 'Local', default_order: :asc) %></th>
        <th style="text-align: center"><%= sort_link(@q, :ativo, 'Ativo', default_order: :asc) %></th>
        <th style="text-align: center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @contatos.each do |contato| %>
        <tr>
          <td><%= contato.nome %></td>
          <td><%= formata_telefone contato.telefone %></td>
          <td><%= formata_celular contato.celular %></td>
          <td><%= contato.cargo %></td>
          <td><%= contato.departamento.nome %></td>
          <td><%= contato.departamento.local.nome %></td>
          <td style="text-align: center"><%= t contato.ativo %></td>
          <td style="text-align: center">
            <%= link_to fa_icon('pencil'), edit_cadastro_contato_path(contato), class: 'btn btn-primary btn-sm' %>
            <%= link_to fa_icon('trash'), [:cadastro, contato], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>

<div class="pagination justify-content-center">
  <%= paginate @contatos, theme: 'twitter-bootstrap-4' %>
</div>
