<%= form_with(model: [:cadastro, departamento], local: true) do |form| %>
  <div class="form-row">
    <div class="form-group col-auto">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-auto">
      <%= form.label :telefone %>
      <%= form.text_field :telefone, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-auto">
      <%= form.label :local %>
      <%= form.select :local_id, locais.collect { |l| [ l.nome, l.id ] }, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: 'btn btn-success' %>
    <%= link_to 'Voltar', cadastro_departamentos_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<%= model_erros_to_js_array departamento %>
