<%= form_with(model: [:cadastro, departamento], local: true) do |form| %>
  <% if departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
      <% departamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-auto">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-auto">
      <%= form.label :local %>
      <%= form.select :local_id, locais.collect { |l| [ l.nome, l.id ] }, { prompt: 'Selecione' }, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar', class: 'btn btn-success' %>
    <%= link_to 'Voltar', :back, class: 'btn btn-primary' %>
  </div>
<% end %>
