<div class="container main-container">
  <div class="row">
    <div class="col-auto">
      <h1>Cadastro de Departamentos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mr-auto">
      <%= search_form_for @q, class: 'form-inline mb-3' do |f| %>
        <div class="form-group mr-3">
          <%= f.label :nome %>
          <%= f.search_field :nome_cont, class: 'form-control ml-3' %>
        </div>

        <div class="form-group mr-3">
          <%= f.label :telefone %>
          <%= f.search_field :telefone_cont, class: 'form-control ml-3' %>
        </div>

        <div class="form-group mr-3">
          <%= f.label 'Local'%>
          <%= f.search_field :local_nome_cont, class: 'form-control ml-3' %>
        </div>

        <div id="submit">
          <%= f.submit 'Buscar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mr-auto mb-3">
      <%= link_to 'Novo Departamento', new_cadastro_departamento_path, class: 'btn btn-primary mt-1' %>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :nome, 'Nome', default_order: :asc) %></th>
        <th><%= sort_link(@q, :telefone, 'Telefone', default_order: :asc) %></th>
        <th><%= sort_link(@q, :local_nome, 'Local', default_order: :asc) %></th>
        <th style="text-align: center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @departamentos.each do |departamento| %>
        <tr>
          <td><%= departamento.nome %></td>
          <td><%= formata_telefone departamento.telefone %></td>
          <td><%= departamento.local.nome %></td>
          <td style="text-align: center">
            <%= link_to fa_icon('list'), [:cadastro, departamento], class: 'btn btn-primary btn-sm' %>
            <%= link_to fa_icon('pencil'), edit_cadastro_departamento_path(departamento), class: 'btn btn-primary btn-sm' %>
            <%= link_to fa_icon('trash'), [:cadastro, departamento], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination justify-content-center">
  <%= paginate @departamentos, theme: 'twitter-bootstrap-4' %>
</div>
