<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <h1>Departamento</h1>
        </div>
        <div class="col-auto row ml-auto">
          <%= button_to 'Editar', edit_cadastro_departamento_path(@departamento), method: :get, class: 'btn btn-primary col-auto mr-2', disabled: !cadastra? %>
          <%= button_to 'Voltar', cadastro_departamentos_path, method: :get, class: 'btn btn-primary col-auto mr-3' %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-auto">
          <%= label_tag :nome %>
          <%= text_field_tag :nome, @departamento.nome, class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-auto">
          <%= label_tag :telefone %>
          <%= text_field_tag :telefone, formata_telefone(@departamento.telefone), class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-auto">
          <%= label_tag :local %>
          <%= text_field_tag :local, @departamento.local.nome, class: 'form-control', readonly: true %>
        </div>
    </div>
  </div>
</div>
