<!DOCTYPE html>
<html>
  <head>
    <title>ListaTelefonica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>

    <script type="text/javascript">
      <% flash.each do |k, v| %>
        $(document).ready(function() {
          $.notify("<%= v %>", "<%= tipo_notificacao[k.to_sym] %>")
          console.log("<%= k.to_sym %>")
          console.log("<%= tipo_notificacao[k.to_sym] %>")
        });
      <% end %>
    </script>
  </body>
</html>
